<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>Restaurants Record App</h2>
        <div class="d-flex">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Restaurant</button>
        </div>
    </div>
</nav>

<!-- jumbotron here -->
<!-- <div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to Restaurant App!</h1>
    <p class="lead">This is a simple Restaurant manager app</p>
    <hr class="my-4">
    <p>You can edit/delete Restaurant</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div> -->
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Restaurant App!</h1>
      <p class="lead">This is a simple Restaurant manager app</p>
    </div>
  </div>
<!-- jumbotron close -->


<!-- Table shown here -->
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Restaurant Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Address</th>
            <th scope="col">Service</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getAllDataModel"> 
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.address}}</td>
            <td>{{item.services}}</td>
            <td>
                <button class="btn btn-info" (click) = "onEditRestaurant(item)">Edit</button>&nbsp;
                <button class="btn btn-info" (click) = "onEditRestaurant(item)">Update </button>&nbsp;
                <button class="btn btn-info" (click) = "deleteData(item)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Restaurant Details </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="false">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Email Id</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email Id">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mobile</label>
              <input type="email" formControlName="mobile" class="form-control" id="exampleInputPassword1" placeholder="Enter Mobile No">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Address</label>
              <input type="email" formControlName="address" class="form-control" id="exampleInputPassword1" placeholder="Enter Address">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Service</label>
              <input type="email" formControlName="services" class="form-control" id="exampleInputPassword1" placeholder="Enter Service">
            </div>
                <!-- <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="addRestaurant()" data-dismiss="modal">Add Details</button>
          <button type="button" class="btn btn-primary">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- modal close -->